.container-box{
  margin: 5vh 5vw 5vh 5vw;
}

.menu-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.menu{
  /* background-color: #5D7E68; */
  width: 100%;
  height: 10vh;
}

.btn-container{
  margin-top: 2.5vh;
}

.btn-menu{
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-right: 15px;
  font-weight: 600;
  color: #f1f1f1;
  background-color: rgb(136, 2, 2);
  box-shadow: 2px 5px;
  position: relative;
  left: 0;
  transition: top ease 0.5s;
}

.btn-menu:hover {
  box-shadow: 4px 8px;
  left: -5px;
}

/* Product section */

.product-section{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2vw;
  width: 100%;
}

.product-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 28vw;
  height: 38vh;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 2px 5px #f1f1f1;
  border-left: 2px solid rgb(136, 2, 2);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.product-box:hover{
  top: 10px;
}

.product-add-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 28vw;
  min-height: 38vh;
  height: 100%;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 2px 5px #f1f1f1;
  border-left: 1px solid black;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  cursor: pointer;
}

.product-add-box:hover{
  top: 10px;
}


.price{
  font-weight: 700;
  font-size: 20px;
  color: rgb(136, 2, 2);
}

.btn-edit{
  width: 160px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.btn-edit:hover{
  color: #f1f1f1;
  background-color: rgb(136, 2, 2);
}

.btn-add{
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 22px;
  font-weight: 600;
}

svg{
  font-size: 50px;
  color: black;
  box-shadow: 3px 8px #f1f1f1;
  border-radius: 50px;
}

/* pagination */

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 5rem 5rem;
  font-size: 1.2rem;
  gap: 5px;
  padding: 2rem;
}

.pagination .page-num{
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(136, 2, 2);
}

.active{
  box-shadow: 2px 5px #d7cece;
}

/* products */

.title{
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid rgb(136, 2, 2);
}

.details{
  padding: 5px;
}

.pricing{
  padding: 5px;
  margin-bottom: 10px;
}