$primary-color: #263252;
$primary-color-hover: #1f2842;
$primary-color-wave: #354470;

$secondary-color: #0165DB;
$secondary-color-hover: #005ac0;
$secondary-color-wave: #0070f0;

$bg-body: #F4F7FC;

$text-color01: #ffffff;
$text-color02: #37383D;
$text-color03: #454545;
$text-color04: #5D7A8C;

$danger-color: #FC6F91;
